<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- PopperJs -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Font Awesome PRO -->
    <link href="~/Content/all.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation HEADER -->
    

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My Evernote</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span class="fal fa-wrench"> Yönetim</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/MostLiked"><span class="far fa-heart"> En Beğenilenler</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index"><span class="fas fa-list"> Son Yazılanlar</span></a>
                    </li>
                    <li class   ="nav-item">
                        <a class="nav-link" href="~/Home/About"><span class="far fa-info-circle"> Hakkımızda</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Login">
                            <span class="far fa-sign-in-alt">   Giriş</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Register">
                            <span class="far fa-user-plus">   Üye Ol</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="fal fa-user"></span>   İsmail Pehlevan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Logout">
                            <span class="fal fa-sign-out-alt"></span>   Çıkış Yap
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <hr /><hr />
    @RenderBody();
    <!-- /.container FOOTER -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4">
                    <h5>
                        <strong>Site Haritası</strong>
                    </h5>
                    <hr />
                    <p>
                        <a href="#"><span class="far fa-info-circle"> Hakkımızda</span></a><br />
                        <a href="#"><span class="far fa-heart"> En Beğenilenler</span></a><br />
                        <a href="#"><span class="fas fa-list"> Son Yazılanlar</span></a>
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <strong>
                        MyEvernote
                    </strong>
                    <hr />
                    <p>Tüm hakları saklıdır &copy; MyEvernote @DateTime.Now.Year </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5><strong>E-Bülten Üyeliği</strong></h5>
                    <hr />
                    <p>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="E-Posta Adresiniz">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Gönder</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
</body>
</html>
